@import "bootstrap/scss/bootstrap.scss";

%flexItems {
  width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

$widthAll: 1600px;

$widthContainer: 1140px;

$mainColor: #f16d7f;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.myContainer {
  width: $widthAll;
  margin: 0 auto;
  min-height: calc(100vh - 384px);
}

.header {
  width: $widthContainer;
  height: 100px;
  border-bottom: 1px solid #ececec;
  margin: auto;
}

.headerInside {
  width: $widthContainer;
  height: inherit;
  display: flex;
  align-items: center;
  margin: auto;
}

.logo {
  width: 165px;
  line-height: 51px;
  background: url(img/logo.png) no-repeat;
  padding-left: 60px;

  p {
    padding-left: 15px;
  }

  p:hover {
    text-decoration: none;
  }

  span {
    color: #f16d7f;
    font-weight: 400;
  }

}

.logo-home {
  text-decoration: none;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  padding-top: 10px;
}

.logo-home:hover {
  text-decoration: none;
  color: #222222;
}

.searchBrowse {
  height: inherit;
  padding: 12px;
  font-size: 14px;
  color: #222222;
  background-color: #f9f9f9;
  box-sizing: border-box;
  border-right: 1px solid #e6e6e6;
}

.searchWrap {
  display: flex;
  align-items: center;
  height: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow: hidden;
  margin-left: 68px;

  input {
    height: inherit;
    padding: 0 3px;
    border: none;
    outline: none;
  }

  button {
    height: inherit;
    padding: 0 8px;
    border: 0;
    background: none;
    border-left: 1px solid #e6e6e6;
  }
}

.headerCart {
  margin-left: auto;
  margin-right: 25px;
}

.accountBtn {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  color: white;
  border: none;

  a {
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-decoration: none;
  }
}

.topNav {
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  a {
    display: block;
    border-bottom: 3px solid transparent;
    padding-bottom: 15px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #222222;
  }

  a:hover {
    color: #f16d7f;
  }
}

.topNav a:not(:last-child) {
  margin-right: 45px;
}

.topBannerWrap {
  height: 610px;
  background-color: #e8e8e8;
}

.topBannerContent {
  height: inherit;
  background: url(img/topHeaderBack.png) no-repeat 554px 0;
  background-size: 550px;
  display: flex;
  align-items: center;
  width: $widthContainer;
  margin: auto;
}

.topBannerSign {
  height: 92px;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}

.topBannerSign div:first-child {
  font-weight: 900;
  font-size: 60px;
  line-height: 41px;
}

.topBannerSign div:last-child {
  font-weight: 900;
  font-size: 40px;
  line-height: 32px;
  margin-top: 19px;
}

.topBannerSign span {
  color: #f16d7f;
}

.offers {
  height: 950px;
  padding-top: 100px;
  flex-direction: column;
  @extend %flexItems;
}

.offers>div:first-child {
  margin-bottom: 20px;
  margin-right: 20px;
}

.offers>div {
  position: relative;
}

.offers .label {
  position: absolute;
  top: 25px;
  padding: 15px 20px;
  background: white;
  text-transform: uppercase;
}

.labelTop {
  font-size: 18px;
  color: #222222;
  font-weight: 900;
}

.labelBottom {
  font-size: 30px;
  color: #f16d7f;
  font-weight: 900;
}

.featured-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}

.featured-label-top {
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
}

.featured-label-bottom {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}

.featured-items {
  @extend %flexItems;
  padding-top: 25px;
  margin-bottom: 75px;
}

.featured-item {
  position: relative;
}

.featured-item:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.featured-item:nth-child(n+5) {
  margin-top: 27px;
}

.featured-image-wrap {
  height: 280px;
  position: relative;
}

.featuredBuy {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
}

.featured-item:hover .featuredBuy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featuredBuy button {
  padding: 15px;
  border: 1px solid #ffffff;
  background: none;
  color: white;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.featuredBuy button img {
  margin-right: 10px;
  flex-shrink: 0;
}

.item-desc {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.item-price {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}

.browseBtnWrap {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.browseBtn {
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  color: white;
  border: none;
  text-decoration: none;
}

.browseBtn a {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  text-decoration: none;
  margin-right: 5px;
}

.discount {
  width: $widthContainer;
  margin: auto;
  padding-bottom: 100px;
  display: flex;
}

.discount-left {
  width: 767px;
  height: 529px;
  background: url(img/offerForWomen.jpg);
}

.labelTopWomen {
  font-size: 53.7px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  text-transform: uppercase;
}

.labelTopWomenRed {
  color: #f16d7f;
}

.labelBottomWomen {
  font-size: 32.2px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  text-transform: uppercase;
}

.labelWomen {
  position: absolute;
  margin-top: 135px;
  margin-left: 40px;
}

.discount-right {
  width: 373px;
  height: 529px;
  background-color: #222224;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.delivery {
  display: flex;
}

.sales {
  display: flex;
}

.qa {
  display: flex;
}

.deliveryImage {
  flex: none;
  width: 120px;
  text-align: center;
}

.deliveryTextBox {
  width: 240px;
}

.deliveryTextTop {
  font-size: 20px;
  line-height: 38px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.deliveryTextBottom {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.reviewsWrap {
  width: $widthContainer;
  height: 438px;
  position: relative;
}

.reviewsBack {
  width: 1600px;
  height: 438px;
  background: url(img/subscribe.jpg) no-repeat;
  opacity: 0.5;
  position: absolute;
}

.reviews {
  width: 1600px;
  position: absolute;
  display: flex;
}

.reviews-left {
  display: flex;
  width: 799.5px;
  margin-left: 230px;
  margin-top: 110px;
}

.reviews-center {
  width: 1px;
  background-color: #ffffff;
}

.reviews-right {
  width: 799.5px;
}

.review {
  width: 506px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
}

.reviewPerson {
  float: left;
}

.reviewName {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-top: 10px;
}

.reviewPlace {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222224;
}

.reviewText {
  margin-left: 26px;
}

.pagination {
  margin-top: 28px;
  text-align: left;
}

.bar:first-child {
  margin-left: 0px;
}

.bar {
  width: 38px;
  height: 4px;
  display: inline-block;
  background-color: #d6d6d6;
  margin-left: 12px;
}

.bar:hover {
  background-color: #f16d7f;
}

.bar-active {
  width: 38px;
  height: 4px;
  background-color: #f16d7f;
}

.subscribeText {
  width: 377px;
  text-align: center;
}

.reviews-right {
  margin-left: 90px;
  margin-top: 128px;
}

.subscribeTextTop {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
}

.subscribeTextBottom {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: #222224;
}

.subscribeFormWrap {
  width: 390px;
}

.subscribeFormWrap input {
  margin-top: 15px;
  height: 46px;
  width: 280px;
  border: none;
  outline: none;
  padding: 0 28px;
  font-weight: 700;
  background-color: #e1e1e1;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  float: left;
}

.subscribeFormWrap button {
  margin-top: 15px;
  background-color: #f16d7f;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  color: white;
  border: none;
  height: 46px;
  padding: 0 20px;
  outline: none;
  cursor: pointer;
}

.footerBottom {
  width: 1600px;
  height: 80px;
  background: #e6e6e6;
}

.footerBottomWrap {
  width: $widthContainer;
  margin-top: 100px;
  color: #7a7a7a;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.footerBottomRight {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.footerBottomRight a {
  text-decoration: none;
  color: inherit;
}

.footerBottomRight i {
  width: 32px;
  height: 32px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footerBottomRight i:hover {
  color: white;
  background: #f16d7f;
}

.footerTop {
  width: $widthContainer;
  display: flex;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.footerTopLeft {
  width: 427px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #898989;
}

.footerTopRight {
  margin-left: 65px;
  width: calc(100% - 427px);
  display: flex;
  justify-content: space-between;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 15px;
}

.footerColumn h2 {
  font-size: 18px;
  font-weight: 700;
  color: #f16d7f;
}

.footerColumn a {
  display: block;
  color: #898989;
  font-size: 16px;
  text-decoration: none;
}

.footerColumn a:hover {
  color: #f16d7f;
}

.footerColumn a:not(:last-child) {
  margin-bottom: 29px;
}

.footerTopText1 {
  margin-top: 15px;
  margin-bottom: 30px;
}

.newArrivalsWrap {
  height: 150px;
  background: #f8f3f4;
}

.newArrivals {
  width: $widthContainer;
  margin: auto;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.newArrivals h1 {
  font-weight: 900;
  color: #f16d7f;
}

.newArrivals nav a {
  text-decoration: none;
  color: #636363;
}

.newArrivals nav a:hover {
  color: #f16d7f;
}

.newArrivals nav a:last-child {
  font-weight: 700;
  color: #f16d7f;
}

.cartContainer {
  display: flex;
  padding-top: 100px;
  width: $widthContainer;
  margin: auto;
}

.shoppingTableHead {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  color: #222222;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #eaeaea;
  margin-top: 20px;
}

.cartContainerLeft {
  width: 510px;
}

.cartContainerRight {
  width: calc(100% - 510px);
}

.cartProductDescription {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 30px;
}

.cartProductDetails {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 22px;
}

.cartProductColor,
.cartProductSize {
  font-weight: 300;
  padding-top: 5px;
}

.cartProductName {
  margin-top: 0;
  margin-bottom: auto;
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
}

.cartProductAttr {
  font-weight: 400;
}

.cartProductParameters {
  height: 175px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  color: #656565;
}

.productPrice {
  width: 78px;
}

.productQty {
  width: 68px;
}

.productQty input {
  width: 54px;
  border: 1px solid #eaeaea;
  text-align: center;
  height: 30px;
}

.productShipping {
  width: 62px;
}

.productSubtotal {
  width: 66px;
}

.productAction {
  width: 50px;
}

.shoppingBtnsWrap {
  width: $widthContainer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: auto;
  margin-bottom: 44px;
}

.shoppingBtnsWrap button {
  padding: 20px 40px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  text-transform: uppercase;
  font-weight: 700;
}

.checkOutWrap {
  margin: auto;
  width: $widthContainer;
  display: flex;
  justify-content: space-between;
  margin-top: 63px;
  margin-bottom: 80px;
  align-items: flex-start;
}

.shippingAddressWrap {
  width: 355px;
}

.shippingAddressWrap h2 {
  margin-top: 0;
  margin-bottom: 22px;
  text-transform: uppercase;
  font-size: 16px;
}

.shippingAddressWrap select,
.shippingAddressWrap input {
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  width: 100%;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  padding: 13px;
  font-family: inherit;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.shippingAddressWrap button {
  padding: 12px 15px;
  border: 1px solid #eaeaea;
  background: white;
  font-family: inherit;
  text-transform: uppercase;
  color: #4a4a4a;
  font-weight: 700;
  font-size: 11px;
}

.couponDiscountWrap {
  width: 355px;
}

.couponDiscountWrap h2 {
  margin-top: 0;
  margin-bottom: 22px;
  text-transform: uppercase;
  font-size: 16px;
}

.couponDiscountWrap label {
  display: block;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 24px;
}

.couponDiscountWrap input {
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  width: 100%;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  padding: 13px;
  font-family: inherit;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.couponDiscountWrap button {
  padding: 12px 15px;
  border: 1px solid #eaeaea;
  background: white;
  font-family: inherit;
  text-transform: uppercase;
  color: #4a4a4a;
  font-weight: 700;
  font-size: 11px;
}

.grandTotalWrap {
  width: 360px;
  background-color: #f5f3f3;
  padding: 40px;
  box-sizing: border-box;
}

.grandTotalSub {
  margin-bottom: 14px;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
}

.grandTotalSub span:last-child {
  margin-left: 15px;
}

.grandTotalSum {
  text-align: right;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 22px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 17px;

  span:last-child {
    color: #f16d7f;
    margin-left: 20px;
  }

}

.grandTotalWrap {
  width: 360px;
  background-color: #f5f3f3;
  padding: 40px;
  box-sizing: border-box;
}

.grandTotalWrap button {
  width: 100%;
  background-color: #f16d7f;
  padding: 20px 38px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  border: none;
}

.topNav a:hover {
  border-bottom: 3px solid #ef5b70;
}

.productSlider {
  width: 1600px;
  display: flex;
  background-color: #f7f7f7;
  outline: 1px solid #eaeaea;
  align-items: center;
  justify-content: space-between;
}

.leftArrow,
.rightArrow {
  background-color: #d9d9d9;
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.singleProductDesc {
  width: $widthContainer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 730px;
  background-color: #ffffff;
  outline: 1px solid #eaeaea;
  position: relative;
  top: -85px;
  padding-top: 70px;

  h2 {
    font-size: 14px;
    font-weight: 700;
    color: #f16d7f;
  }

  button {
    width: 537px;
    height: 55px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ef5b70;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: #ef5b70;
    margin-top: 27px;
  }

  .paragraphHeader {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
  }

  .paragraph {
    margin-top: 75px;
    text-align: center;
    width: 630px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #5e5e5e;
  }
}

.singleSelector {
  display: flex;
  margin-top: 60px;
}

.singleSelector section:not(:first-child) {
  margin-left: 53px;
}

.singleSelector section h2 {
  font-size: 14px;
  font-weight: 700;
  color: #2f2f2f;
}

.chooseColorWrap select {
  width: 134px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  padding: 0 30px;
}

.chooseColorWrap form {
  position: relative;
}

.colorValue {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #ef5b70;
  margin-left: 12px;
  margin-top: 11px;
}

.chooseSizeWrap select {
  width: 134px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  padding: 0 10px;
}

.chooseQuantityWrap input {
  width: 134px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  padding: 0 10px;
}

.singleSelector h2 {
  margin-bottom: 15px;
}

.alsoLike {
  width: 1600px;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  margin-bottom: 50px;
}

.miniSlider {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  width: 147px;
  border-bottom: 1px solid #ef5b70;
  justify-content: center;
}

.miniSlider2 {
  position: relative;
  width: 63px;
  border-bottom: 3px solid #ef5b70;
  top: 1.5px;
}

.materialAndDesigner {
  margin-top: 30px;
  display: flex;
  width: 335px;
  justify-content: space-between;

  p {
    font-size: 14px;
    font-weight: 700;
    color: #b9b9b9;
  }

  span {
    color: #2f2f2f;
  }
}

.singlePriceBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #ef5b70;
  height: 100px;
  width: 642px;
  border-bottom: 1px solid #ef5b70;
}

.accordionToggle {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-left: 5px solid $mainColor;
  text-transform: uppercase;
  color: $mainColor;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
  background: url(img/caret-down-solid.svg) no-repeat right 5px center;
  background-size: 10px;
}

.accordionToggle,
.productsSelector a {
  line-height: 37px;
  padding-left: 22px;
  padding-right: 22px;
}

.productsSelector a {
  color: #6f6e6e;
  display: block;
  font-size: 14px;
}

.productsSelector:not(:first-child) {
  margin-top: 18px;
}

.productPageWrap {
  margin-top: 60px;
  margin-bottom: 110px;
}

.productsFilterHead {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.divider {
  color: #dfdfdf;
  padding: 0 9px;
}

.trendingFiltersWrap a {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #6f6e6e;
  text-decoration: none;
}

.sizeFilterWrap {
  display: flex;
  flex-wrap: wrap;

  div {
    width: 63px;

    input {
      opacity: 0.1;
    }

    label {
      padding-left: 10px;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      color: #6f6e6e;
    }
  }
}

.priceFilterWrap {
  img {
    width: 100%;
    ;
  }

  .priceRangeValues {
    display: flex;
    justify-content: space-between;
    color: #6f6e6e;
    font-size: 14px;
    margin-top: 10px;
  }
}

.productSort {
  padding: 10px;
  background-color: #f3f3f3;
  display: flex;
  align-content: center;
  margin-top: 40px;

  .productSortSelector {
    border: 1px solid #ebebeb;
    background: #ffffff;
    height: 30px;
    display: flex;

    &:first-child {
      margin-right: 10px;
    }

    label {
      border-right: 1px solid #ebebeb;
    }

    label,
    select {
      color: #6f6e6e;
      font-size: 14px;
      font-weight: 400;
      height: 100%;
      line-height: 27px;
      padding-left: 10px;
      padding-right: 10px;
    }

    select {
      border: none;
      padding-bottom: 2px;
      padding-right: 20px;
    }
  }
}


.productGrid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;

  div[class^="col"]:nth-child(n+4) {
    margin-top: 40px;
  }
}

.featured-image-wrap img {
  width: 255px;
}


.pagination li a {
  border: none;
  outline: none;
}

.paginationWrapOne {

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #c4c4c4;

  button {
    margin-top: 13px;
    height: 44px;
    width: 150px;
    border-radius: 3px;
    border: 1px solid $mainColor;
    text-align: center;
    color: $mainColor;
    background: none;
    cursor: pointer;
  }
}

.paginationWrap {
  display: flex;
  width: 221px;
  height: 44px;
  background-color: #ffffff;
  border: 1.0px solid #ebebeb;
  border-radius: 3.0px;
  align-items: center;
  justify-content: center;
}

ul .page-link {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  color: #c4c4c4;
  padding: 5px;
}

ul .page-link-active {
  color: $mainColor;
}

ul .page-link:hover {
  color: $mainColor;
  background-color: white;
}

.benefitsHorizontal {
  background: #222224;
  width: $widthAll;
  padding-top: 90px;
  padding-bottom: 110px;

  .delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .sales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .qa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .deliveryTextBox {
    width: 319px;
  }

  .deliveryImage {
    padding-bottom: 10px;
  }
}